{% extends "base.html" %}
{% block content %}
<script type="text/python">
	from browser import ajax, document, aio, local_storage, window


	url = "https://kcbootcampers-api-heroku.herokuapp.com/login"
	url2 = "https://kcbootcampers-api-heroku.herokuapp.com/auth/login"

	if window.innerWidth < 500:
		document['form-zone'].style.marginLeft = "0"
		document['form-zone'].style.width = "100vw"
		document['invalid'].style.width = "100vw"
		document['invalid'].style.left = ""
	else:
		document['form-zone'].style.width = "35vw"
		document['form-zone'].style.marginLeft = "32vw"
		document['invalid'].style.width = "50vw"
		document['invalid'].style.left = "23%"

	document['center'].style.display = "none"
	document['former'].style.display = "block"

	local_storage.storage['remember_me'] == "on"

	local_storage.storage['sign_tries'] = "0"
	
	

	#turn remember me checkbox on or off
	def checker(ev):
		if local_storage.storage['remember_me'] == "on":
			local_storage.storage['remember_me'] = "off"
		else:
			local_storage.storage['remember_me'] = "on"
		print(local_storage.storage['remember_me'])


	def main(ev):
		try:
			tries = int(local_storage.storage['tries'])
		except KeyError:
			tries = 0
		finally:
			email = document['email-zone'].value
			local_storage.storage['email'] = email
			remember = local_storage.storage['remember_me']
			local_storage.storage['tries'] = str((tries + 1))

	
	async def listen():
		try:
			if int(local_storage.storage['tries']) > 0:
				document["invalid"].style.display = "block"
			else:
				document['invalid'].style.display = "none"
		except KeyError:
			pass


	document['remember'].bind("click", checker)
	document["submit-button"].bind("click", main)	
	aio.run(listen())
</script>
<center><h1>Login</h1></center>
<hr>
<button id="invalid" type="button" class="btn btn-danger" style="width: 50%; position: absolute; left: 23%; display: {{ display }};">Username or Password Incorrect! </button>
<br>
<div id="form-zone" style="width: 35vw; margin-left: 32vw;" >
	<center id="center"><img style="height: 50%; width: 50%" src="/static/assets/loading.gif"></center>
  <form id="former" class="px-4 py-3" method="post" style=" display: none">
    <div class="form-group">
	<button id="invalid-pattern" type="button" class="btn btn-danger" style="width: 100%; display: none;">Invalid </button>
      <label for="exampleDropdownFormEmail1">Email address</label>
      <input type="email" class="form-control" id="email-zone" name="email-zone" placeholder="email@example.com" autocomplete="off" required pattern="[a-zA-Z]+[\w]*[.\w]*[@{1, 1}][\w]+[.a-zA-Z]+">
    </div>
    <div class="form-group">
      <label for="exampleDropdownFormPassword1">Password</label>
      <input type="password" class="form-control" id="password-zone" name="password-zone" placeholder="Password" autocomplete="off" required>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="remember" name="remember" checked>
        <label class="form-check-label" for="dropdownCheck">
          Remember me
        </label>
      </div>
    </div>
    <button type="submit" id="submit-button" class="btn btn-primary">Sign in</button>
  </form>
  <div class="dropdown-divider"></div>
  <center><div id="other-navs" style="display: inline-block; text-align: center;">
New around here? <a href="/register">Create Account</a>
<a href="/change_password" style="display: block;">Forgot password?</a>
</div></center>

{% endblock %}